<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>添加用户</title>
        <style type="text/css">
        .error{
            color:red;
        }
        .success{
            color:green;
        }
        </style>
    </head>
    <body>
        <form action="/addUser/" method="post">
            {% if result %}
                <div class="
                {% if result %}
                error
                {% endif %}
                ">{{result}}</div>
            {% endif %}
            用户名: <input type="text" name="username" value="{{username}}"/><br/>
            密码:<input type="password" name="password" value="{{password}}"/> <br/>
            手机号: <input type="text" name="telephone" value="{{telephone}}"/><br/>
            年龄: <input type="text" name="age" value="{{age}}"/><br/>
            <input type="submit" value="添加"/>
            <a href="/users/">返回</a>
        </form>
    </body>
</html>